.App {
    /*text-align: center;*/
}

body {
    margin-top: 20px;
    color: white;
    background-color: black;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
}


.flex-container > div {
    background-color: #f1f1f1;
    color: black;
    width: 25%;
    margin: 0.5px;
    text-align: center;
    height: 50px;
    /*line-height: 75px;*/
    font-size: 30px;
}

footer{
    text-align: center;
}

.home-pic, .leaderboard-pic, .goals-pic, .profile-pic {
    padding-top: 10px;
    margin-top: 10px;
}

.cssbuttons-io-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.1em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
    vertical-align: bottom;
    position: absolute;
    bottom: 60px;
    right: 10px;
}

    .cssbuttons-io-button svg {
        margin-right: 0px;
    }

    .cssbuttons-io-button:hover {
        box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
    }

    .cssbuttons-io-button:active {
        box-shadow: 0 0.3em 1em -0.5em #14a73e98;
    }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
