/* Set styles for the leaderboard container */
.leaderboard-container {
    width: 85%;
    height: calc(100% - 150px); /* Leave room for the heading and footer */
    overflow-y: auto;
}

/* Set styles for the leaderboard heading */
.leaderboard-heading {
    position: sticky;
    text-align: center;
    top: 0;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}


/* Set styles for the leaderboard list */
.leaderboard-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;
}

/* Set styles for each leaderboard item */
.leaderboard-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

/* Set styles for the leaderboard name */
.leaderboard-name {

    font-size: 18px;
    font-weight: bold;
    flex: 1; /* use flexbox to center the name and score */
}

/* Set styles for the leaderboard score */
.leaderboard-score {
    font-size: 16px;
    font-weight: bold;
    color: #666;
    margin-left: 10px; /* add a margin to separate the name and score */
}

/* Set styles for the leaderboard scrolling container */
.leaderboard-scroll {
    max-height: calc(100vh - 250px); /* leave space for navigation bar */
    overflow-y: auto;
}

/* Set styles for the leaderboard scrollbar */
::-webkit-scrollbar {
    display: none;
}

/* Set styles for gap between leaderboard items */
.leaderboard-list li:not(:last-child) {
    margin-bottom: 20px;
}

html, body {
    overflow: hidden;
    height: 100%;
}
