.profile-container {
    text-align: center;
}

.avatar-container {
    position: relative;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.user-name {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    color: #FFFFFF;
    font-weight: bold;
}

.user-details {
    color: #FFFFFF;
    margin-top: 60px;
}
