.workout-container {
    /*color: #FFFFFF;*/
    color: white;
    display: inline-block;
}


.workout-table {
    width : 100%;

    /*word-spacing : normal;
    list-style-type: none;
    align-content: center;
    padding: 0;
    border-style: solid; 
    border-collapse: collapse;*/
}


    